#welcome{
    position: absolute;
    left: 570px;
    top: 210px;
}
#loginWord{
    position: absolute;
    left: 725px;
    top: 300px
}
#usernameBox{
    position: absolute;
    left: 670px;
    top: 360px;
    padding: 10px;
}
#passwordBox{
    position: absolute;
    left: 670px;
    top: 410px;
    padding: 10px;
}
#enterButton{
    position: absolute;
    left: 725px;
    top: 465px;
}
#newGuide{
    position: absolute;
    left: 635px;
    top: 485px;
}