#loginWord{
    position: absolute;
    left: 947px;
    top: 400px
}
#usernameBox{
    position: absolute;
    left: 890px;
    top: 460px;
    padding: 10px;
}
#passwordBox{
    position: absolute;
    left: 890px;
    top: 510px;
    padding: 10px;
}
#enterButton{
    position: absolute;
    left: 945px;
    top: 560px;
}
#newGuide{
    position: absolute;
    left: 855px;
    top: 580px;
}