#title{
    position: absolute;
    left: 300px;
    top: 35px;
}
#textbox{
    position: absolute;
    left: 300px;
    top: 80px;
}
#form{
    display:block;
}
#saveButton{
    position: absolute;
    left: 1065px;
    top: 680px;
    font-size: medium;
}
#list{
    color:aquamarine;
    width: 250px;
    height: 760px;
    border: 3px solid red;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    overflow-y: scroll;
}
#titleItems{
    font-size: large;
    padding: 10px;
    border: 0cap;
    background-color: transparent;
    width: 250px;
    line-break: anywhere;
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    /* cursor: pointer; */
}
