#registerWord{
    position: absolute;
    left: 843px;
    top: 400px
}
#createUsername{
    position: absolute;
    left: 890px;
    top: 460px;
    padding: 10px;
}
#createPassword{
    position: absolute;
    left: 890px;
    top: 510px;
    padding: 10px;
}
#createButton{
    position: absolute;
    left: 945px;
    top: 560px;
}