#registerWord{
    position: absolute;
    left: 535px;
    top: 260px
}
#createUsername{
    position: absolute;
    left: 670px;
    top: 360px;
    padding: 10px;
}
#createPassword{
    position: absolute;
    left: 670px;
    top: 410px;
    padding: 10px;
}
#createButton{
    position: absolute;
    left: 720px;
    top: 470px;
}